<!DOCTYPE HTML>
<html>
	<head>
		<title>Lunch It</title>

		<link rel="stylesheet/less" type="text/css" href="/less/app.less">
		<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.18.custom.css">

		<script> /* Provisory for dev environment: */ localStorage.clear(); </script>
		<script type="text/javascript" src="/js/core/less-1.3.0.min.js" ></script>
		<script type="text/javascript" src="/js/core/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="/js/core/underscore.js"></script>
		<script type="text/javascript" src="/js/core/json2.js"></script>
		<script type="text/javascript" src="/js/core/backbone.js"></script>
		<script type="text/javascript" src="/js/core/bootstrap-modal.js"></script>
		<script type="text/javascript" src="/js/core/moment.min.js"></script>
		<script type="text/javascript" src="/js/core/jquery-ui-1.8.21.custom.min.js"></script>


		<script type="text/javascript" src="/js/app/models.js"></script>
		<script type="text/javascript" src="/js/app/app.js"></script>

	</head>
	<body>
		<div class="container">
			<header>
				<h1>Lunch.it</h1>
				<div id="app-menu" class="">
					<ul class="nav nav-pills">
						<li><a href="#!/week-order">Заказ</a></li>
						<li><a href="#!/menu">Меню</a></li>
						<li><a href="#!/suppliers">Поставщики</a></li>
						<li><a href="#!/preferences">Настройки</a></li>
					</ul>
				</div>
				<div class="order-button">
					<a href="#" class="btn btn-success"></a>
				</div>

				<div class="row"></div>
				<hr/>
			</header>



			<div id="main"></div>

			<div id="preview-email"></div>
			<%- body %>
		</div>
	</body>
</html>
