#preferences-form {
	textarea {
		height: 200px;
		width: 300px;
	}
}

#menu-dishes, #menu-accessories {
	.row:first-child .dish-info{
		border-top:1px solid #ccc;
	}
	.dish-info {
		border: 1px solid #ccc;
		border-top: none;
		margin-left: 20px;

		vertical-align: middle;

		div {
			padding: 10px;
		}

		span {
			float:right;
		}

		.edit {
			.price {
				width: 60px;
			}
			.name {
				width: 150px;
			}
			select {
				width: 100px;
			}
		}
	}
	input[type="checkbox"] {
		float:left;
		vertical-align: middle;
		margin-top: 13px;
	}
}

#main {
	.suppliers {
		display: inline-block;
	}
}

#week-switcher {
	display: inline;
}