<script type="text/template" id="preferences-template">
	<div>
		<div class="suppliers"></div>

		<ul class="nav nav-tabs" id="preferences-tabs">
			<li form-name="send"><a href="#">Отправка</a></li>
			<li form-name="params"><a href="#">Параметры</a></li>
			<li form-name="team"><a href="#">Команда</a></li>
		</ul>
		<div id="preferences-form"></div>
	</div>
</script>

<script type="text/template" id="supplier-selector-template">
	<select id="supplier-selector">
		<@ _.each(suppliers, function(supplier) {@>
			<option value="<@=supplier.attributes.id@>"><@=supplier.attributes.name@></option>
		<@ }) @>
	</select>
</script>

<script type="text/template" id="suppliers-template">
    <div class="suppliers-block">
        <ul>

        </ul>
    </div>
</script>

<script type="text/template" id="supplier-template">
    <span><@=name@></span> <a href="#" class="edit btn btn-info">Редактировать</a> <a href="#" class="delete btn btn-important">Удалить</a>
</script>

<script type="text/template" id="preferences-send-template">
	<div class="form form-horizontal send">
		<fieldset>
			<div class="row">
				<div class="span4">
					<div class="control-group">
						<label class="control-label">Кому</label>
						<div class="controls">
							<input type="text" name="address" value="<@=model.address@>"/>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Копия</label>
						<div class="controls">
							<input type="text" name="cc" value="<@=model.cc@>"/>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Тема</label>
						<div class="controls">
							<input type="text" name="subject" value="<@=model.subject@>"/>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="control-group">
						<label class="control-label">Шаблон</label>
						<div class="controls">
							<textarea name="template"><@=model.template@></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<button type="submit" class="btn">Submit</button>
			</div>
		</fieldset>
		<a href="#" id="add-supplier">Add supplier</a>
	</div>

</script>

<script type="text/template" id="preferences-params-template">
	<div class="form form-horizontal params">
		<fieldset>
			<div class="row">
				<div class="span4">
					<div class="control-group">
						<label class="control-label">Минимальный заказ</label>
						<div class="controls">
							<input type="text" name="min_order"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<button type="submit" class="btn">Submit</button>
			</div>
		</fieldset>
	</div>
</script>

<script type="text/template" id="preferences-team-template">
	<form class="form form-inline team-user-form">
		<ul id="users-list"></ul>
		<fieldset>
			<div class="row">
				<label class="control-label">Добавить</label>
				<input type="text" class="user-name"/>
				<button type="submit" class="btn add">Добавить</button>
			</div>
		</fieldset>
	</form>
</script>

<script type="text/template" id="preferences-team-user-template">
	<@= name @> <a href="#" class="delete">Удалить</a>
</script>



<script type="text/template" id="menu-template">
	<div class="suppliers"></div>

	<div class="pull-right">
		<a href="#" class="btn btn-success manage-dishes" id="add-dish">Добавить блюдо</a>
	</div>
	<div class="row">
		<div class="span5">
			<div id="menu-dishes"></div>
		</div>
		<div class="span5 offset2">
			<div id="menu-accessories"></div>
		</div>
	</div>
	<div id="dish-popup"></div>
</script>


<script type="text/template" id="dish-form-template">
	<div class="modal hide" id="dish-form">
		<form>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Новое блюдо</h3>
			</div>
			<div class="modal-body">
				<div class="form form-horizontal">
					<div class="control-group">
						<label class="control-label">Категория</label>
						<div class="controls">
							<select name="category">
								<option value="1">Супы</option>
								<option value="2">Мясо</option>
								<option value="3">Гарниры</option>
								<option value="4">Салаты</option>
								<option value="5">Блины</option>
								<option value="6">Другое</option>
								<option value="7">Контейнеры</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Название</label>
						<div class="controls">
							<input name="name"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Цена</label>
						<div class="controls">
							<input name="price"/>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Закрыть</a>
			<a href="#" class="btn btn-primary save">Сохранить</a>
		</div>
	</div>
</script>

<script type="text/template" id="menu-items-template">
	<@ _.each(dishes, function(dish, index) { @>
		<@ if ((mode == 'accessories' && dish.attributes.category == 7) || (mode == 'food' && dish.attributes.category != 7)) { @>
			<div class="row">
				<input type="checkbox"/>
				<div class="dish-info" attributeId="<@=dish.attributes.id@>">
					<div class="view">
						<@=dish.attributes.name@>
						<span><@=dish.attributes.price@> руб.</span>
					</div>
					<div class="edit hide">
						<input type="text" class="name" name="name"/>
						<select name="category">
							<option value="1">Супы</option>
							<option value="2">Мясо</option>
							<option value="3">Гарниры</option>
							<option value="4">Салаты</option>
							<option value="5">Блины</option>
							<option value="6">Другое</option>
							<option value="7">Контейнеры</option>
						</select>
						<span><input type="text" class="price" name="price"/></span>
					</div>
				</div>
			</div>
		<@ } @>
	<@ }) @>
</script>


<script type="text/template" id="week-order-template">
	<div class="suppliers"></div>
	<div id="week-switcher"></div>
	<div id="week-order"></div>
</script>

<script type="text/template" id="week-switcher-template">
	<div class="pull-right">
		Неделя с <@=firstDay.format('DD MMMM')@> - <@=lastDay.format('DD MMMM')@>
		<a href="#" class="prev btn">&lt;&lt;</a>
		<a href="#" class="next btn">&gt;&gt;</a>
		<a href="#" class="today">Today</a>
	</div>
</script>

<script type="text/template" id="day-order-template">
	<div class="day-order-block span3">
		<div class="info">
			<a href="#" class="btn btn-success btn-mini add-order">Заказать</a>
			<span><@=currentDay.format('dddd DD MMMM')@></span>
		</div>

		<div class="day-order">
			<@ if (order) {@>
				<@ _.each(userOrders, function(userOrder) {@>
					<div class="user-order badge badge-info" userId="<@=userOrder.user._id@>">
						<div class="name"><@=userOrder.user.name@></div>
						<div class="quantity"><@=userOrder.order.length@></div>
						<div class="total"><@=userOrder.total@> руб</div>
					</div>
				<@})@>
			<@ } @>
		</div>
		<@ if (order) { @>
			<span class="day-total">Итого: <@= dayTotal@> руб</span>
		<@ } @>
	</div>
</script>

<script type="text/template" id="order-template">
	<div class="order">
		<@ if (dishesByCategory) { @>
			<div class="order-date"><h2>Заказ на <@=currentDay.format('dddd, DD MMMM')@></h2></div>

			<select class="user">
				<@ _.each(users.models, function(user) {@>
					<option value="<@=user.attributes.id@>"><@=user.attributes.name@></option>
				<@ }) @>
			</select>
			<@ _.each(dishesByCategory, function(dishes, categoryId) { @>
				<div class="category-dish-name">
					<@=dishCategories[categoryId]@>
				</div>
				<table class="table table-striped">
				<@ _.each(dishes, function(dish) { @>
					<tr>
						<td class="dish-name span3"><@=dish.attributes.name@></td>
						<td class="span2"><@=dish.attributes.price@> руб.</td>
						<@
						quantity = '';
						if (userOrder && userOrder[dish.attributes.id]) quantity = userOrder[dish.attributes.id].quantity;
						@>
						<td><input class="dish-order" price="<@=dish.attributes.price@>" dishId="<@=dish.attributes.id@>" name="number" value="<@= quantity @>"/></td>
					</tr>
				<@ }) @>
				</table>
			<@ }) @>
			<div class="control-buttons">
				<a href="#" class="save btn btn-success">Сохранить</a>
				<a href="#" class="preview btn btn-success" disabled>Предварительный просмотр</a>
			</div>
		<@ } else { @>
			<h2>Меню пустое</h2>
		<@ } @>
	</div>
</script>
