<script type="text/template" id="preferences-template">
	<div>
		<div class="suppliers"></div>

		<ul class="nav nav-tabs" id="preferences-tabs">

			<li form-name="team"><a href="#">Команда</a></li>
		</ul>
		<div id="preferences-form"></div>
	</div>
</script>

<script type="text/template" id="supplier-selector-template">
	<select id="supplier-selector">
		<@ _.each(suppliers, function(supplier) {@>
			<option value="<@=supplier.attributes.id@>"><@=supplier.attributes.name@></option>
		<@ }) @>
	</select>
</script>

<script type="text/template" id="suppliers-template">
    <div class="suppliers-list">
        <ul></ul>


    </div>
	<a href="#" class="supplier add btn btn-success">Добавить</a>

	<div class="supplier-form"></div>
</script>

<script type="text/template" id="supplier-template">
    <span><@=name@></span> <a href="#" class="edit">Редактировать</a> / <a href="#" class="delete">Удалить</a>
</script>


<script type="text/template" id="supplier-form-template">
	<div class="form form-horizontal send">
		<fieldset>
			<div class="row">
				<div class="span4">
					<div class="control-group">
						<label class="control-label">Название</label>
						<div class="controls">
							<input type="text" name="name"/>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Кому</label>
						<div class="controls">
							<input type="text" name="address"/>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Копия</label>
						<div class="controls">
							<input type="text" name="cc"/>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Тема</label>
						<div class="controls">
							<input type="text" name="subject"/>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Телефон</label>
						<div class="controls">
							<input type="text" name="phone"/>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Минимальный заказ</label>
						<div class="controls">
							<input type="text" name="min_order"/>
						</div>
					</div>

					<div id="dish-categories"></div>
				</div>
				<div class="span4 offset1">
					<div class="control-group">
						<label class="control-label">Шаблон</label>
						<div class="controls">
							<textarea name="template"></textarea>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Заметка</label>
						<div class="controls">
							<textarea name="note"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<button type="submit" class="save-supplier btn btn-success">Сохранить</button>
			</div>
		</fieldset>
	</div>
</script>

<script type="text/template" id="dish-categories-template">
	<h3>Категории блюд</h3>
	<ul></ul>
	<div class="form">
		<input type="text" name="name"/>
		<button class="btn save-category" type="submit">Добавить</button>
	</div>
</script>

<script type="text/template" id="dish-category-item-template">
	<a href="#" class="edit"><@=name @></a> <a href="#" class="delete">Удалить</a>
</script>


<script type="text/template" id="preferences-team-template">
	<form class="form form-inline team-user-form">
		<ul id="users-list"></ul>
		<fieldset>
			<div class="row">
				<label class="control-label">Добавить</label>
				<input type="text" class="user-name"/>
				<button type="submit" class="btn add">Добавить</button>
			</div>
		</fieldset>
	</form>
</script>

<script type="text/template" id="preferences-team-user-template">
	<@= name @> <a href="#" class="delete">Удалить</a>
</script>



<script type="text/template" id="menu-template">
	<div class="suppliers"></div>

	<div class="pull-right">
		<a href="#" class="btn btn-success manage-dishes" id="add-dish">Добавить блюдо</a>
	</div>
	<div class="row">
		<div class="span5">
			<div id="menu-dishes"></div>
		</div>
		<div class="span5 offset2">
			<div id="menu-accessories"></div>
		</div>
	</div>
	<div id="dish-popup"></div>
</script>


<script type="text/template" id="dish-form-template">
	<div class="modal hide" id="dish-form">
		<form>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Новое блюдо</h3>
			</div>
			<div class="modal-body">
				<div class="form form-horizontal">
					<div class="control-group">
						<label class="control-label">Категория</label>
						<div class="controls">
							<select name="category">
								<@ _.each(dishCategory, function(item) {@>
									<option value="<@=item.id@>"><@=item.attributes.name@></option>
								<@ })@>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Название</label>
						<div class="controls">
							<input name="name"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Цена</label>
						<div class="controls">
							<input name="price"/>
						</div>
					</div>

					<div class="control-group">
						<label for="includeInOrder" class="control-label">Включать в заказ</label>
						<div class="controls">
							<input id="includeInOrder" name="includeInOrder" type="checkbox" checked/>
						</div>
					</div>

					<div class="control-group">
						<label for="includeInPayment" class="control-label">Включать в стоимость</label>
						<div class="controls">
							<input id="includeInPayment" name="includeInPayment" type="checkbox" checked/>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Закрыть</a>
			<a href="#" class="btn btn-primary save">Сохранить</a>
		</div>
	</div>
</script>

<script type="text/template" id="menu-items-template">
	<@ _.each(dishes, function(dish, index) { @>
		<@ if ((mode == 'accessories' && (!dish.attributes.includeInOrder || !dish.attributes.includeInPayment)) || (mode == 'food' && dish.attributes.includeInOrder && dish.attributes.includeInPayment)) { @>
			<div class="row">
				<input type="checkbox" class="dish"/>
				<div class="dish-info" attributeId="<@=dish.attributes.id@>">
					<div class="view">
						<@=dish.attributes.name@>
						<span><@=dish.attributes.price@> руб.</span>
					</div>
					<div class="edit hide">
						<input type="text" class="name" name="name"/>
						<select name="category">
							<@ _.each(dishCategory.models, function(item) {@>
								<option value="<@=item.id@>"><@=item.attributes.name@></option>
							<@ })@>
						</select>
						<span><input type="text" class="price" name="price"/></span>

						<div class="params">
							<label>
								<input type="checkbox" name="includeInOrder" <@=dish.attributes.includeInOrder ? 'checked' : ''@>/>
								Показывать в заказе
							</label>
							<label>
								<input type="checkbox" name="includeInPayment" <@=dish.attributes.includeInPayment ? 'checked' : ''@>/>
								Учитывать в стоимости
							</label>
						</div>
					</div>
				</div>
			</div>
		<@ } @>
	<@ }) @>
</script>


<script type="text/template" id="week-order-template">
	<div class="suppliers"></div>
	<div id="week-switcher"></div>
	<div id="week-order"></div>
	<div id="full-order-popup"></div>
</script>

<script type="text/template" id="week-switcher-template">
	<div class="pull-right">
		Неделя с <@=firstDay.format('DD MMMM')@> - <@=lastDay.format('DD MMMM')@>
		<a href="#" class="prev btn">&lt;&lt;</a>
		<a href="#" class="next btn">&gt;&gt;</a>
		<a href="#" class="today">Today</a>
	</div>
</script>

<script type="text/template" id="day-order-template">
	<div class="day-order-block span3">
		<div class="info">
			<@ if (!order || (order && !order.attributes.sentAt)) {@>
				<a href="#" class="btn btn-success btn-mini add-order">Заказать</a>
			<@ } @>
			<span><@=currentDay.format('dddd DD MMMM')@></span>
		</div>

		<div class="day-order">
			<@ if (order) {@>
				<@ _.each(userOrders, function(userOrder) {@>
					<div class="user-order badge badge-info" userId="<@=userOrder.user._id@>">
						<div class="name"><@=userOrder.user.name@></div>
						<div class="quantity"><@=userOrder.order.length@></div>
						<div class="total"><@=userOrder.total@> руб</div>
					</div>
				<@})@>
			<@ } @>
		</div>
		<div class="order-footer">
			<@ if (order) { @>
				<a href="#" class="preview">Просмотр</a>
				<span class="day-total">Итого: <@= dayTotal@> руб</span>
			<@ } @>
		</div>
	</div>
</script>

<script type="text/template" id="order-template">
	<div class="order">
		<@ if (dishesByCategory) { @>
			<div class="order-date"><h2>Заказ на <@=currentDay.format('dddd, DD MMMM')@></h2></div>


			<@ _.each(dishesByCategory, function(dishes, categoryId) { @>
				<div class="category-dish-name">
					<@=!dishCategories.get(categoryId) ? 'Не известно' : dishCategories.get(categoryId).attributes.name@>
				</div>
				<table class="table table-striped">
				<@ _.each(dishes, function(dish) { @>
					<tr>
						<td class="dish-name span3"><@=dish.attributes.name@></td>
						<td class="span2"><@=dish.attributes.price@> руб.</td>
						<@
						quantity = '';

						if (userOrder && userOrder[dish.attributes.id] && !copyUserOrder)
							quantity = userOrder[dish.attributes.id].quantity;
						else if (copyUserOrder)
							quantity = copyUserOrder[dish.attributes.id] ? copyUserOrder[dish.attributes.id] : '';
						@>
						<td><input class="dish-order" price="<@=dish.attributes.price@>" dishId="<@=dish.attributes.id@>" name="number" value="<@= quantity @>"/></td>
					</tr>
				<@ }) @>
				</table>
			<@ }) @>

			<div class="control-buttons">
				<@ if ((!model || (model && !model.attributes.sentAt)) && (!orderOwnerId || (orderOwnerId && orderOwnerId == currentUser))) {@>
					<a href="#" class="delete btn btn-danger">Удалить</a>
				<@ } @>
				<a href="#" class="cancel btn">Отменить</a>

				<div class="btn-group">
					<a href="#" class="copy btn btn-info">Копировать</a>
					<input type="hidden" class="datepicker-focus"/>
					<a href="#" class="calendar btn btn-info">
						<span class="caret"></span>
					</a>
				</div>

				<@ if ((!model || (model && !model.attributes.sentAt)) && (!orderOwnerId || (orderOwnerId && orderOwnerId == currentUser))) {@>
					<a href="#" class="save btn btn-success">Заказать</a>
				<@ } @>
			</div>
		<@ } else { @>
			<h2>Меню пустое</h2>
		<@ } @>
	</div>
</script>


<script type="text/template" id="full-order-template">
	<div class="modal hide" id="full-order-form">
		<form>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Заказ на <@=date@></h3>
			</div>
			<div class="modal-body">
				<@ _.each(fullOrderDishes, function(dishes, categoryId) { @>
					<div class="category-dish-name">
						<@=!dishCategories.get(categoryId) ? 'Не известно' : dishCategories.get(categoryId).attributes.name@>
					</div>
					<table class="">
						<@ _.each(dishes, function(dish, dishId) { @>
						<tr>
							<td class="dish-name span4"><@=dish.name@> <@= dish.notes.length ? '(' + dish.notes + ')' : ''@></td>
							<td class="span1"><@=dish.quantity@></td>
							<td><input includeInPayment="<@=dish.includeInPayment ? 1 : 0@>" quantity="<@=dish.quantity@>" dishId="<@=dish.id@>" name="price" value="<@= dish.price @>"/></td>
						</tr>
						<@ }) @>
					</table>
				<@ }) @>
			</div>
		</form>
		<div class="modal-footer">
			<div class="total">
				Тотал: <span class="sum"><@=total@></span> руб.
			</div>
			<a href="#" class="btn cancel" data-dismiss="modal">Закрыть</a>
			<a href="#" class="btn btn-primary save">Сохранить</a>
		</div>
	</div>
</script>

<script type="text/template" id="preview-email-template">
	<div class="modal hide" id="preview-order-form">
		<form>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Предпросмотр заказа на <@=date@></h3>
			</div>
			<div class="modal-body">
				<textarea name="text"><@= text @></textarea>
			</div>
		</form>
		<div class="modal-footer">
			<a href="#" class="btn cancel" data-dismiss="modal">Закрыть</a>
			<a href="#" class="btn btn-primary save">Отправить этот текст</a>
		</div>
	</div>
</script>


<script type="text/template" id="billing-page-template">
	<div id="billing">
		<div id="payer"></div>

		<div id="unpaid-users"></div>
	</div>
</script>

<script type="text/template" id="payer-template">
	<div class="calendar">
		<a href="#"><@=date.format('DD MMMM')@></a>

	</div>
	<input class="calendar" type="hidden" value="<@=moment().format('MM/DD/YY')@>"/>

	<div class="payer-name">
		<select>
			<option value=""></option>
			<@ _.each(users, function(user) {@>
				<option value="<@=user.attributes.id@>" <@= orders && (user.attributes.id == orders.attributes.payer) ? 'selected="selected"' : ''@>><@=user.attributes.name@></option>
			<@ }) @>
		</select>
	</div>

	<div class="">
		<a href="#" class="btn pay">Оплатил</a>
	</div>
</script>

<script type="text/template" id="unpaid-users-template">
	<@ _.each(unpaid, function(user, userId) { @>
		<div class="user">
			<div class="name"><@= users.get(userId).attributes.name@> <div class="total"><span class="paid">0</span> / <span class="total"><@=user.total@></span></div></div>

			<div class="days">
				<@ _.each(user, function(day) {@>
					<div class="day" orderId="<@=day.id@>">
						<div class="date">
							<label>
								<input type="checkbox" total="<@= day.attributes.order.total @>"/>
								<@= moment(parseInt(day.attributes.order.createdAt*1000)).format('dddd DD MMMM')@>
							</label>
						</div>
						<div class="sum"><@= day.attributes.order.total @></div>
					</div>
				<@ }) @>
			</div>
		</div>
	<@ }) @>

	<hr/>
	<button class="save btn btn-success">Сохранить</button>
</script>


<script type="text/template" id="user-selector-template">
	<select>
		<option value=""></option>
		<@ _.each(users, function(item) {@>
			<option value="<@=item.attributes.id@>" <@= currentUser == item.attributes.id ? 'selected="selected"' : ''@>><@=item.attributes.name@></option>
		<@ })@>
	</select>
</script>